In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Analysing Frage

In [40]:
frage = pd.read_pickle('frage.pickle')

In [50]:
frage = frage[['fragebogen_num', 'frage_num', 'original_frage']]

In [51]:
frage.head()

   fragebogen_num frage_num                                     original_frage
0               1        A1           Kopf: Kopf, Haupt; auch scherzh./übertr.
1               1        A2  Kopf: Kopf/Haupt (in urspr. Bed.) in Vergl./Ra...
2               1        A3  Kopf: Kopf/Haupt (übertr.) in Vergl./Ra. (das ...
3               1        A4  Kopf: schöner, ebenmäßig gebauter Kopf (Christ...
4               1       A4a                Kopf: häßlicher, unebenmäßiger Kopf

In [52]:
frage.fragebogen_num.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
        54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
        67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,
        80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
        93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109])

In [53]:
frage.frage_num.unique()

array(['A1', 'A2', 'A3', ..., '604', '605', '606'], dtype=object)

### Analysing Lemma

In [191]:
lemmas = pd.read_pickle('df_lemmas.pkl')

In [192]:
lemmas.columns

Index(['filename', 'entry_id', 'date', 'usg_corresp', 'simple_placeName',
       'orig_placeName', 'placeName_id', 'Bundesland', 'Bundesland_idno',
       'Großregion', 'Großregion_idno', 'Kleinregion', 'Kleinregion_idno',
       'Gemeinde', 'Ort', 'Ort_idno', 'hauptlemma_unique', 'hauptlemma_orig',
       'hauptlemma_normalized', 'nebenlemma_unique', 'nebenlemma_orig',
       'nebenlemma_normalized', 'verweise', 'archiv', 'quelle',
       'quelleBearbeitet', 'seite', 'fragebogenNummer', 'paragraph', 'bibl',
       'tustep', 'pos', 'etym', 'note_notabene', 'note_anmerkung',
       'note_diverse', 'cit_quote', 'cit_def', 'cit_interp', 'cit_ref',
       'cit_pRef', 'cit_note', 'cit_re', 'sense', 'ref', 'ref_pRef',
       'ref_date', 'ref_num', 'figure', '_bestlemma', '_year', '_coordinates',
       '_location', '_typist', '_drawer', '_fragebogen', '_fragebogen_type',
       '_fragebogen_num', '_frage_num', '_frage_subject'],
      dtype='object')

In [184]:
lemmas = lemmas[['hauptlemma_unique', 'hauptlemma_orig', 'hauptlemma_normalized','_fragebogen_num','_frage_num', 'sense']]
#lemmas = lemmas[['hauptlemma_normalized','_fragebogen_num','_frage_num']]

In [185]:
def trailing_zero(x):
    if x.isdigit():
        return str(int(x))

In [186]:
lemmas = lemmas.dropna(subset=['_fragebogen_num','_frage_num'], axis=0)
lemmas['_fragebogen_num'] = lemmas['_fragebogen_num'].apply(trailing_zero)
#lemmas['_frage_num'] = lemmas['_frage_num'].apply(trailing_zero)
lemmas['question'] = lemmas['_fragebogen_num'] + '.' + lemmas['_frage_num']
#lemmas = lemmas.dropna()
lemmas.sort_values(by=['question'], axis=0, inplace=True, ignore_index=True)
lemmas = lemmas[['question', '_fragebogen_num', '_frage_num', 'hauptlemma_normalized', 'hauptlemma_unique', 'hauptlemma_orig', 'sense']]
lemmas.head(10)

,question,_fragebogen_num,_frage_num,hauptlemma_normalized,hauptlemma_unique,hauptlemma_orig,sense
0,0.,0,,None,Kind,None,None
1,0.0,0,0,None,oft,None,"[\n , oft]"
2,0.0,0,0,weitmenig,None,(weit)menig,"[\n , weitmächtig]"
3,0.0,0,0,None,Mensch,None,None
4,1.,1,,None,None,None,"[\n , gefroren oder erfroren]"
5,1.,1,,None,spitzen,None,None
6,1.,1,,None,Kette,None,"[\n , Kette]"
7,1.,1,,None,Kette,None,"[\n , Kette]"
8,1.,1,,None,ich,None,None
9,1.,1,,None,Kette,None,"[\n , Kette]"

In [187]:
lemmas.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296845 entries, 0 to 1296844
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   question               1142818 non-null  object
 1   _fragebogen_num        1142818 non-null  object
 2   _frage_num             1296845 non-null  object
 3   hauptlemma_normalized  758842 non-null   object
 4   hauptlemma_unique      480941 non-null   object
 5   hauptlemma_orig        759080 non-null   object
 6   sense                  586859 non-null   object
dtypes: object(7)
memory usage: 69.3+ MB

In [188]:
num_fragebogen = '56'
num_frage = 'B2'

In [189]:
frage[(frage['fragebogen_num'] == int(num_fragebogen)) & (frage['frage_num'] == num_frage)]

      fragebogen_num frage_num                                  original_frage
4955              56        B2  Gruß: bei der Verabschiedung nach einem Besuch

In [190]:
lemmas[(lemmas['_fragebogen_num'] == num_fragebogen) & (lemmas['_frage_num'] == num_frage)]

,question,_fragebogen_num,_frage_num,hauptlemma_normalized,hauptlemma_unique,hauptlemma_orig,sense
725919,56.B2,56,B2,widersehen,None,(wider)s:ehen,None
725920,56.B2,56,B2,leben,None,l:eben,None
725921,56.B2,56,B2,heimsuochen,None,(h-eim)su{ochen,None
725922,56.B2,56,B2,behueten,None,(be)hu{eten,None
725923,56.B2,56,B2,behueten,None,(be)hu{eten,None
...,...,...,...,...,...,...,...
726025,56.B2,56,B2,gefallen,None,(ge)fallen,None
726026,56.B2,56,B2,widerkemmen,None,(wider)k:emmen,None
726027,56.B2,56,B2,widerkemmen,None,(wider)k:emmen,None
726028,56.B2,56,B2,widerkemmen,None,(wider)k:emmen,None
726029,56.B2,56,B2,widerkemmen,None,(wider)k:emmen,None

In [ ]:
lemmas.to_excel('lemmas.xls')